.color-red {
  color: #dc3545;
}
.color-yellow {
  color: #fcb92c;
}
.color-blue {
  color: #3b7ddd;
}
.color-blue {
  color: #3b7ddd;
}
.color-green {
  color: #1cbb8c;
}

.main {
  background: #f5f7fb;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
  // transition: all 0.2s ease-in-out;
  width: 100%;

  .content {
    direction: ltr;
    flex: 1;
    max-width: 100vw;
    padding: 1.5rem 1.5rem 0.75rem;
    width: 100vw;
    margin-top: 4rem;
  }
}

.sidebar-expanded {
  .navbar {
    width: calc(100vw - 250px);
  }

  .main {
    width: calc(100vw - 250px) !important;
    margin-left: 250px;
  }

  &.sidebar-collapse {
    .sidebar {
      display: none;
    }

    .navbar {
      width: 100vw;
    }

    .main {
      width: 100vw !important;
      margin-left: 0;
    }
  }
}