body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f5f7fb;
  color: #495057;
  font-family: 'SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  background: #222e3c;
  display: flex;
  width: 100%;
}

.avatar {
  height: 35px;
  width: 35px;
}

/*
  -------------- Left Sidebar SCSS --------
*/

@import "./assets/css/left-side-bar";

/*
  ------------------ Main Container --------------
*/

@import "./assets/css/main";

/*
  ------------------ Header Css --------------
*/

@import "./assets/css/header";

/*
  ------------------ Responsive SCSS --------------
*/

@import "./assets/css/responsive";






